.container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 20%;
}

@media(max-width: 400px){
    .container{
        width: 100%;
    }
}

@media(min-width: 770px){
    .container{
        width: 80%;
    }
}
@media(min-width: 1800px){
    .container{
        width: 40%;
    }
}

@media(min-width: 3400px){
    .container{
        width: 30%;
    }
}